h1{
    text-align: center;
    margin-top: 40px;
}
input{
    margin-left: 40%;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    background-color:beige;
    color: black;
    border: none;
}
.first{
    text-align: center;
    display: flex;
    margin-top: 3%;
    margin-left: 40%;
}
.second{
    display: flex;
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
}
button{
    display: flex;
    margin-top: 1%;
    margin-left: 40%;
    padding: 10px;
}
/* .table{
border-collapse: collapse;
width: 100%;
justify-content: center;
text-align: center;
display: flex;
    
}
table, th,td{
    margin-top: 20px;
    border: 1px solid grey;
}
td{
    text-align: center;

}
.del{
    margin-left: 10px;
    display: inline;
    margin-top: 20px;
} */
.customers{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 40%;
    margin-top: 20px;
    
}
.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    margin-left: 30px;
}
.del{
    margin-left: 10px;
    display: inline;
    margin-top: 20px;
}