


 .create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #978888;
  color: whitesmoke;
  flex-direction: column;

}
input{
  width: 500px;
}



.Loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: groove;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* Darker background */
  z-index: 9999;
}

.Loader-spinner {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  /* White border at the top */
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

