.form-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
} 

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.input{
    max-width: 80%;
}